# dependencies
node_modules

# build output
dist
*.tsbuildinfo

# test / coverage
coverage
.vitest

# logs
logs
*.log
npm-debug.log*
yarn-error.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# local env
.env
.env.local
.env.*.local
.pnpm-store/
